{% extends "base2.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/mentor_profile.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <div class="container centered-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Управление профилем ментора</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

