.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="text"],
input[type="email"],
textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #8E7CFF;
}

.btn-primary {
    background-color: #8E7CFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #9774ea;
}
