.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #8E7CFF;
}

.btn-primary {
    background-color: #8E7CFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #9774ea;
}

.row{
    max-width: 100%;
    width: 700px;
}
