 .registration-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        color: #1DA1F2;
        border: 2px solid #1DA1F2;
        padding: 17px 13px;
        font-size: 20px;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 50%;
        margin-top: 20px;
    }

    .btn:hover {
        background-color: #e0d9f1;
        color: #1DA1F2;
        border: 2px solid #1DA1F2;
    }

    .account-image {
        max-width: 50%;
        margin-left: 20px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        border-color: #1DA1F2;
    }

    .btn-primary {
        background-color: #1DA1F2;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #63baef;
        color: white;
    }